POSTGRES_USER=nexsmsid
POSTGRES_PASSWORD=nexsmsid
POSTGRES_DB=nexsmsid
DATABASE_URL=postgresql://nexsmsid:nexsmsid@localhost:5432/nexsmsid?schema=public
REDIS_URL=redis://localhost:6379
API_PORT=4000
WEB_PORT=3000
